.App {
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px 10px;
  grid-row-gap: 150px;
}
